{% extends "base.html" %}

{% load static %}


{% block content_title %}
    <h1 class="mt-5">
        Ask a question
    </h1>
{% endblock content_title %}


{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label">Title:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title">
                {% if form.title.errors %}
                    <div class="errorlist">
                        <ul>
                        {% for error in form.title.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-sm-3 col-form-label">Text:</label>
            <div class="col-sm-9">
                <textarea class="form-control" rows="5" id="text" name="text"></textarea>
                {% if form.text.errors %}
                    <div class="errorlist">
                        <ul>
                        {% for error in form.text.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="tags" class="col-sm-3 col-form-label">Tags:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags should be separated by comma like: tag1, tag2, tag3">
                {% if form.tags.errors %}
                    <div class="errorlist">
                        <ul>
                        {% for error in form.tags.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ask!</button>
    </form>
{% endblock %}
