{% extends "base.html" %}
{% load static %}
{% load load_avatar_url %}
{% load rating_system %}


{% block content_title %}
    <h1 class="mt-5">
        {{ question.title }}
    </h1>
{% endblock content_title %}


{% block content %}
    <div class="row mb-5">
        <div class="col-sm-1 rating text-center">
            <i
                    class="fas fa-angle-up {% voted_class user question 1 %}"
                    data-content-type="{{ question.votes.content_type.id }}"
                    data-object-id="{{ question.id }}"
                    data-value="1"></i>

                <strong class="rating-counter-js">{{ question.rating }}</strong>

                <i
                    class="fas fa-angle-down {% voted_class user question -1 %}"
                    data-content-type="{{ question.votes.content_type.id }}"
                    data-object-id="{{ question.id }}"
                    data-value="-1"></i>

        </div>
        <div class="col-sm-11">
            {{ question.text }}
            <div class="row">
                <div class="col-sm-10 mt-3">
                    {% for tag in question.tags.all %}
                        <span class="badge badge-secondary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="col-sm-2">
                    <img class="align-self-start mr-3" src="{% load_avatar_url question.author %}" alt="">
                    <span>{{ question.author.username }}</span>
                </div>
            </div>

        </div>
    </div>

{#    Answer section #}
    {% for answer in question.answers.all %}
        <div class="row py-4 border-top border-bottom">
            <div class="col-sm-1 rating text-center">
                <i
                    class="fas fa-angle-up {% voted_class user answer 1 %}"
                    data-content-type="{{ answer.votes.content_type.id }}"
                    data-object-id="{{ answer.id }}"
                    data-value="1"></i>

                <strong class="rating-counter-js">{{ answer.rating }}</strong>

                <i
                    class="fas fa-angle-down {% voted_class user answer -1 %}"
                    data-content-type="{{ answer.votes.content_type.id }}"
                    data-object-id="{{ answer.id }}"
                    data-value="-1"></i>

                <i
                    class="far fa-star"
                    data-answer-id="{{ answer.id }}"
                    data-is-right="{{ answer.is_right }}"></i>
            </div>
            <div class="col-sm-11">
                {{ answer.text }}
            </div>
            <div class="col-sm-2  offset-10">
                <img class="align-self-start mr-3" src="{% load_avatar_url answer.author %}" alt="">
                <span>{{ answer.author.username }}</span>
            </div>
        </div>
    {% endfor %}

    <form action="" method="post" class="mt-5">
        {% csrf_token %}
        <label for="text" class="col-sm-3 col-form-label h4">Your answer:</label>
        <textarea class="form-control" rows="5" id="text" name="text" placeholder="..."></textarea>
        {% if form.text.errors %}
            <div class="errorlist">
                <ul>
                    {% for error in form.text.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary my-3">Answer</button>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/question.js' %}"></script>
{% endblock scripts %}