{% extends "base.html" %}
{% load static %}
{% load load_avatar_url %}


{% block content_title %}
    <h1 class="mt-5">
        {{ question.title }}
    </h1>
{% endblock content_title %}


{% block content %}
    <div class="row mb-5">
        <div class="col-sm-1 rating text-center">
            <form action="/vote/" method="post">
                <input name="content_type_id" type="hidden" value="{{ question.votes.content_type.id }}">
                <input name="object_id" type="hidden" value="{{ question.id }}">
                {% csrf_token %}
                <i class="fas fa-angle-up"></i>
                <strong>42</strong>
                <i class="fas fa-angle-down"></i>
            </form>
        </div>
        <div class="col-sm-11">
            {{ question.text }}
            <div class="row">
                <div class="col-sm-10 mt-3">
                    {% for tag in question.tags.all %}
                        <span class="badge badge-secondary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="col-sm-2">
                    <img class="align-self-start mr-3" src="{% load_avatar_url question.author %}" alt="">
                    <span>{{ question.author.username }}</span>
                </div>
            </div>

        </div>
    </div>

{#    Answer section #}
    {% for answer in question.answers.all %}
        <div class="row py-4 border-top border-bottom">
            <div class="col-sm-1 rating text-center">
                <input name="content_type_id" type="hidden" value="{{ answer.votes.content_type.id }}">
                <input name="object_id" type="hidden" value="{{ answer.id }}">
                {% csrf_token %}
                <i
                        class="fas fa-angle-up"
                        data-content-type="{{ answer.votes.content_type.id }}"
                        data-object-id="{{ answer.id }}"
                        data-value="1"></i>

                <strong id="answer_counter">42</strong>

                <i
                        class="fas fa-angle-down"
                        data-content-type="{{ answer.votes.content_type.id }}"
                        data-object-id="{{ answer.id }}"
                        data-value="-1"></i>

                {% if answer.is_right %}
                    <i class="fas fa-star text-warning"></i>
                {% endif %}
            </div>
            <div class="col-sm-11">
                {{ answer.text }}
            </div>
            <div class="col-sm-2  offset-10">
                <img class="align-self-start mr-3" src="{% load_avatar_url answer.author %}" alt="">
                <span>{{ answer.author.username }}</span>
            </div>
        </div>
    {% endfor %}

    <form action="" method="post" class="mt-5">
        {% csrf_token %}
        <label for="text" class="col-sm-3 col-form-label h4">Your answer:</label>
        <textarea class="form-control" rows="5" id="text" name="text" placeholder="..."></textarea>
        {% if form.text.errors %}
            <div class="errorlist">
                <ul>
                    {% for error in form.text.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary my-3">Answer</button>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/question.js' %}"></script>
{% endblock scripts %}